body {
background-color: lavenderblush;
}

 font {
  font-family: "Lucida Console", "Courier New", serif;
}

font {
  font-color: slategray;
}

border {
  border-width: medium;
}

border {
  border-color: lavender;
}
