body {
background-color: lavenderblush;
}

 h1 {
  font-style: Apple Chancery, cursive;
}

h1 {
  font-color: slategray;
}

background {
  border-width: medium;
}

background {
  border-color: lavender;
}

background {
 border-style: solid;
}
