body {
background-color: lavenderblush;
}

p {
  font-family: Apple Chancery;
  color: steelblue;
}

body {
  border-width: thick;
  border-color: midnightblue;
  border-style: solid;
}

li {
  font-family: Apple Chancery;
  color: darkolivegreen;
}

ul {
  list-style-type: none;
  padding: 10px 10px 10px 10px;
  clear:both;
  border-bottom:2px solid black;
  margin-bottom:50px;
}
