
<!DOCTYPE css>
<css lang="en"
body {
background-color: lavenderblush;
}

 body {
  font-style: Lucida Console;
}

body {
  font-color: slategray;
}

body {
  border-width: medium;
}

body {
  border-color: lavender;
}
